<div class="row">
  <section class="col-6">
  <form class="d-flex flex-column gap-3">  
    <div class="d-flex gap-1">
      <label>{{getTitle()}}</label>
      <label class="text-danger">*</label>
    </div>
    <div class="d-flex gap-3">
    <mat-form-field>
      <mat-select [value]="selectedMonth" (selectionChange)="onSelectionMonthChange($event)">
        <mat-option *ngFor="let month of getMonths()" [value]="month">
          {{month}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
    <mat-select  [value]="selectedYear" (selectionChange)="onSelectionYearChange($event)">
      <mat-option *ngFor="let year of getYears()" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
    </mat-form-field>
  </div>
  </form>
</section>
<ng-container *ngIf="shouldDisplayType()">
  <section class="col-6">
      <form class="d-flex flex-column gap-3">  
        <div class="d-flex gap-1">
          <label>Type</label>
          <label class="text-danger">*</label>
        </div>
        <mat-form-field>
          <mat-select [value]="selectedType">
            <mat-option value="On-time">
              On-time
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
  </section>
</ng-container>
</div>

